.navbar {
    background-color: #333;
    color: #fff;
    padding: 12px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; 
    box-sizing: border-box; 
    position: fixed; 
    top: 0; 
    left: 0; 
    right: 0; 
}

.navbar h1 {
    font-size: 20px;
    font-weight: normal;
    margin: 0; 
}

.navbar a {
    color: #fff;
    text-decoration: none;
}
.container {
    background-color: #fff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    max-width: 90%;
    margin: auto;
    margin-top: 81px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    margin-bottom: 20px;
    color: #333;
    font-size: 24px;
    font-weight: bold;
}

.form-group {
    margin-bottom: 20px;
}

label {
    color: #555;
    font-weight: bold;
}

input[type="text"],
input[type="number"],
select {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
}

select {
    padding: 10px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #45a049;
}
